  <%- include('../partials/header') %>
  
  <h3><%= food.food %></h3>
  <!-- <h3>Complete: <%= food.done ? 'Yes' : 'No' %></h3> -->
  <h3> Really all amazing food items!</h3>
  <%- include('../partials/footer') %>

